.main {
    padding: 16px;
}

.header {
  font-size: 14px;
  color: #323233;
  line-height: 20px;
  padding: 10px;
  border-bottom: 1px solid #ebedf0;
  font-weight: 500;
}

.form {
  margin-top: 24px;
}

.footer {
  padding: 10px;
}

:export {
  fieldWidth: 273px;
}
