.drag-container {
  .dc-item {
    position: relative;
    border: 1px solid #ffffffff;
    &:hover {
      border: 1px dashed red;
      .di-delete {
        display: inline-block;
      }
    }
    .di-delete {
      display: none;
      position: absolute;
      top: -5px;
      right: -20px;
      font-size: 18px;
      cursor: pointer;
    }
  }
}
